-- CreateTable
CREATE TABLE "User" (
    "id_user" BIGINT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "datecreate" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dateupdate" DATETIME NOT NULL
);

